@import "tailwindcss";

body {
	margin: 0;
}

.rubik {
	font-family: 'Rubik', sans-serif;
}

.poppins {
	font-family: 'Poppins';
}

.inter {
	font-family: 'Inter';
}

.montserrat {
	font-family: 'Montserrat';
}