@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'InterVariable', sans-serif;
  --font-montserrat: 'Montserrat Variable', sans-serif;
}

:root {
  --ui-text-toned: rgb(113 113 122);
  --ui-text-highlighted: rgb(49, 49, 49);    /* almost black */
}

.dark {
  --ui-text-muted: rgb(212 212 216);
  --ui-text-toned: rgb(161 161 170);
  --ui-text-highlighted: rgb(250 250 250);
}